.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/*Set list so they appear in a row insteed */
/*Push logo to the right and listitem to the right */
nav {
  background-color: lightgray;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Remove bullets from links */
nav ul {
  list-style: none;
}

/* Make them in a row */
nav ul li {
  display: inline-block;    
}

/* Removes underline in each link item */
nav ul li a {
  text-decoration: none;
}

/*Hover effect on links */
nav ul li a:hover {
  color: yellow;
}

nav > ul > li {
  margin: 0px 10px;
}

.col {
  margin: 4px;;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
